body {
  margin: 0px;
  background-color: rgb(79, 115, 119);
  color: rgb(255, 255, 255);
  height: 100vh;
}

main {
  height: 100%;
}
/*
h2 {
  font-family: "IM Fell English", serif;
  font-style: italic;
  font-size: 2rem;
}
*/

/* Leaflet */
.leaflet-container {
  cursor: url(CusorMapReg2.png) 4 12, crosshair;
}

/* Change cursor when mousing over clickable layer */
.leaflet-interactive {
  cursor: url(CusorMapHighlight.png) 4 12, crosshair;
}

.leaflet-container.crosshair-cursor-enabled {
  cursor: crosshair;
}
/* End Of Leaflet */

#grid-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0px;
  justify-content: center;
}

header {
  padding: 0 24px;
  display: flex;
  background-color: #161b16;
  background-image: url("./images/WorldMapDark_Empty_opacity10.png");
  background-repeat: no-repeat;
  background-size: 112rem;
  background-position: center;
  height: 48px;
  box-sizing: border-box;
  border-bottom: 2px solid #6a706a;
  align-items: center;
}
header * {
  margin-right: 12px;
}
header:last-child {
  margin-right: 0;
}

.nav-item {
  color: #b67c00;
}

#back-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-family: "Overlock", sans-serif;
  transition: 100ms ease-in-out all;
}
#back-btn:hover {
  color: #b67c00;
}

#title {
  font-family: "IM Fell English", serif;
  font-size: 2rem;
  font-style: italic;
  text-decoration: none;
  color: white;
}

li a {
  text-decoration: none;
  color: white;
}

h3 {
  font-family: "IM Fell English", serif;
  color: #b67c00;
  font-size: 1.3em;
  margin-bottom: 5px;
}

h4 {
  font-family: "IM Fell English", serif;
  color: #222222;
  font-size: 1.1em;
  margin-top: 12px;
}

.map-container {
  height: 100%;
  display: flex;
  justify-content: left;
}

.img-container {
  height: 100%;
}

/* Sidebar */
.sidebar-container {
  background-color: #f2ecda;
  padding: 48px 0;
  color: #222222;
  overflow-y: auto;
  z-index: 999;
  font-size: 1.1rem;
}

.close-btn {
  position: absolute;
  transform: translateX(-24px);
  font-family: sans-serif;
  color: #6a6c6a;
  cursor: pointer;
  margin: 0;
  width: 1  2px;
  padding: 16px 6px;
  border-radius: 8px 0 0 8px;
  background-color: #b5b0a1;
  font-size: 1rem;
  text-align: right;
}
.close-btn:hover {
  text-align: right;
  color: black;
  cursor: pointer;
}

.placeholder {
  padding-top: 60%;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  #grid-wrapper {
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }

  footer {
    height: 75px;
    background-size: 115rem;
  }

  .sidebar-container {
    padding: 20px 50px 45px 50px;
  }

  .placeholder {
    padding-top: 0px;
  }
}

@media only screen and (max-width: 720px) {
  .sidebar-container {
    padding: 15px 30px 45px 30px;
  }
}

@media only screen and (max-width: 550px) {
  .sidebar-container {
    padding: 15px 15px 45px 15px;
  }

  .nav-item {
    font-size: 15px;
    margin: 0 40px;
  }

  .nav-item:hover {
    font-size: 16px;
    margin: 0 40px;
  }

  footer {
    height: 75px;
    background-size: 70rem;
  }
}

@media only screen and (max-width: 375px) {
  .nav-item {
    font-size: 15px;
    margin: 0 25px;
  }

  .nav-item:hover {
    font-size: 15px;
    margin: 0 25px;
  }
}

/* Leaflet */
#map {
  height: 100%;
  width: 100%;
  background-color: rgb(76, 113, 118);
  height: 100%;
  width: 100%;
}
